#id-main-content {
  width: 320px;
  height: auto;
  margin: auto auto;
  background-image: url(./images/image_geometry_1.png);
  background-size: 90px;
  background-repeat: no-repeat;
  background-attachment: initial;
  display: flex;
  flex-direction: column;
}

/* Header style start here */
#id-header-content {
  width: 98%;
  height: auto;
  margin: 10px auto 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.class-my-logo:nth-child(1) {
  display: block;
  width: 100px;
  margin-left: 10px;
  height: auto;
  align-self: flex-start;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.class-side-menu:nth-child(2) {
  display: block;
  width: 20px;
  height: 20px;
  align-self: flex-end;
  margin-right: 10px;
}/* Header style end here */

/* Presentation section start here */
#id-presentation-section {
  margin: 50px auto 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.class-my-name:nth-child(1) {
  width: 100%;
  height: auto;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: xx-large;
  font-weight: 100;
}

.class-about-me:nth-child(2) {
  margin: 30px auto auto auto;
  width: 100%;
  height: auto;
  font-size: small;
  font-family: 'Poppins', sans-serif;
  color: rgba(26, 34, 54, 1);
  text-align: initial;
}

.class-start-see-project:nth-child(3) {
  margin: 30px auto auto auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 34, 54, 1);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  border: none;
  box-shadow: 0 0 2px black;
}

.class-start-see-project:hover {
  background-color: rgb(228, 88, 101);
}/* Presentation section end here */

/* Little background */
.class-litle-background {
  width: 100%;
  height: 150px;
  background-image: url(./images/image_geometry_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
}

/* Works or Projects section start here */
#id-works-section {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Style for all section title */
.class-sections-titles {
  width: 288px;
  height: auto;
  margin: 56px auto 10px auto;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 100;
  text-align: left;
}

#id-works-section h1 { margin-bottom: 26px; }

/* end of sections title style */

/* the container of all the project */
#id-project-container {
  list-style-type: none;
  padding: 0 0;
  width: fit-content;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
}

.class-project {
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  background-color: rgba(26, 34, 54, 1);
  list-style-type: none;
  padding: 0 0 0 0;
}

.class-project-image {
  margin: 0 0;
}

.class-project-description {
  margin: 0 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.class-project-languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  margin: 0 0 0 0;
  padding: 0 0;
  height: auto;
  background-color: rgba(26, 34, 54, 1);
  align-self: flex-end;
}

.class-project-name {
  margin: 20px 30px 16px 20px;
  list-style-type: none;
  background-color: rgba(26, 34, 54, 1);
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: 300;
}

.class-project-li {
  list-style-type: none;
  width: 70px;
  height: auto;
  margin: 0 10px 10px 0;
  padding: 3px 3px;
  font-family: 'Poppins', sans-serif;
  font-size: xx-small;
  text-align: center;
  color: rgba(26, 34, 54, 1);
  background-color: rgba(152, 222, 222, 1);
}

.class-project-link {
  border: 2px solid rgba(255, 255, 255, 0.911);
  width: 178px;
  height: 44px;
  background-color: rgba(26, 34, 54, 1);
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  margin: 10px auto 10px 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
}

.class-project-link:hover {
  background-color: rgba(228, 88, 101);
}

.class-project-button {
  width: fit-content;
  height: min-content;
  margin: auto 0 auto 12px;
  border: none;
  background-color: transparent;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  font-weight: 500;
}

.class-union-pic {
  margin: auto 5px;
}/* Works or Projects style end here */

/* About my self style start here */
#id-section-about-my-self {
  margin: 0 auto 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.class-about-description {
  margin: 10px auto auto auto;
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: rgba(26, 34, 54, 1);
  text-align: left;
}

.class-about-cv {
  width: 100%;
  height: 50px;
  margin: 30px auto 0 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 34, 54, 1);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
}

.class-about-cv:hover { background-color: rgb(228, 88, 101); }

.class-about-span {
  background-color: transparent;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.class-about-technologies { /* global container for class-about-div */
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.class-about-div { /* container */
  margin: 16px 0 0 0;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.class-about-div-ul {
  margin: 11px auto 53px 50px;
  padding: 0 0 0 0;
  width: fit-content;
  list-style-type: disc;
}

.class-about-div-title {
  width: 100%;
  margin: 50px 0 11px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
  padding-left: 50px;
}

.class-div-list {/* same block  ######### */
  list-style-position: inside;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}

.class-div-list span {
  position: relative;
  left: -14px;
}/* ######### */

#id-about-languages {
  margin-top: 40px !important;
  background-color: rgba(28, 82, 138, 1);
  background-image: url(./images/htag.png);
  background-position: bottom right;
  background-size: initial;
  background-repeat: no-repeat;
}

#id-about-frameworks {
  background-color: rgba(226, 80, 92, 1);
  background-image: url(./images/Group18.png);
  background-position: bottom right;
  background-size: initial;
  background-repeat: no-repeat;
}

#id-about-skills {
  background-color: rgba(254, 191, 82, 1);
  background-image: url(./images/ic_skills.png);
  background-position: bottom right;
  background-size: initial;
  background-repeat: no-repeat;
}

/* Contact form section, and footer start here */
#id-footer {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(249, 249, 250, 1);
  background-image: url(./images/image_geometry_1.png);
  background-repeat: no-repeat;
  background-position: top left;
}

#id-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
  width: 288px;
  background-color: transparent;
}

.class-contact-div {
  height: auto;
  width: 100%;
  margin-top: 106px;
}

#id-contact-form .class-contact-div h1 {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

.class-contact-div p {
  margin-bottom: 32px;
  height: auto;
}

#contact-form { margin: 0 auto 0 auto !important; }

#form { width: 100%; }

.class-form-label { width: 99%; }

.class-form-div { height: auto; box-shadow: 0 0 2px red; }

.class-start-collaboration {
  margin-top: 0 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.name-email {
  width: 281px;
  height: 52px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid rgb(210, 212, 212);
  text-indent: 16px;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

#message {
  width: 281px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgb(210, 212, 212);
  height: 112px;
  resize: none;
  padding-top: 15px;
  text-indent: 16px;
  margin: 10px auto 0 auto !important;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

#message::placeholder {
  position: absolute;
  top: 15px;
}

.name-email::placeholder {
  color: rgba(125, 124, 132, 1);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  position: fixed;
  top: 0;
}

.button {
  margin: 30px auto auto auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 34, 54, 1);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  border: none;
}

#id-other-links {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: rgba(26, 34, 54, 1);
  margin: 64px auto 0 auto;
}

.class-social-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgba(26, 34, 54, 1);
  padding: 0 0;
}

.class-links {
  width: 100%;
  height: auto;
  margin: auto 0 31px 18px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.class-links a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  font-weight: 500;
  margin-right: 16px;
}

.class-links a:hover { color: rgb(228, 88, 101); }

.class-social-links { margin: 0 10px 0 18px; }

.class-social-links a:hover { border-bottom: 3px solid rgb(228, 88, 101); }
