#id-main-content {
  width: 300px;
  height: auto;
  margin: auto;
  background-image: url(./images/image_geometry_1.png);
  background-size: 90px;
  background-repeat: no-repeat;
  background-attachment: initial;
  display: flex;
  flex-direction: column;
}

#id-header-content {
  width: 98%;
  height: auto;
  margin: 10px auto 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#id-my-logo:nth-child(1) {
  display: block;
  width: 100px;
  margin-left: 10px;
  height: auto;
  align-self: flex-start;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

#id-side-menu:nth-child(2) {
  display: block;
  width: 20px;
  height: 20px;
  align-self: flex-end;
  margin-right: 10px;
}

#id-presentation-section {
  margin: 50px auto 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#id-my-name:nth-child(1) {
  width: 100%;
  height: auto;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: xx-large;
}

#id-about-me:nth-child(2) {
  margin: 30px auto auto auto;
  width: 100%;
  height: auto;
  font-size: small;
  font-family: 'Poppins', sans-serif;
  color: rgba(26, 34, 54, 1);
  text-align: initial;
}

#id-start-see-project:nth-child(3) {
  margin: 30px auto auto auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 34, 54, 1);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  border: none;
  box-shadow: 0 0 2px black;
}

#id-start-see-project:hover {
  background-color: rgb(228, 88, 101);
}

#id-litle-background {
  width: 100%;
  height: 150px;
  background-image: url(./images/image_geometry_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
}
