* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: rgba(26, 34, 54, 1); /* default text color */
}

body {
  background-image: url(./backgrounds/image_geometry_1.png);
  background-repeat: no-repeat;
}

.menu { display: none; } /* default display of menu */

.ttl { /* all default sections title style */
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  width: max-content;
  margin-left: 10px;
  margin-bottom: 20px;
}

.txt { /* all paragraph style */
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-bottom: 25px;
}

@media screen and (min-width: 200px) {
  #header {
    max-width: 400px;
    height: auto;
    display: flex;
    margin-top: 10px;
  }

  .menu-btn {
    align-self: flex-end;
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
  }

  section {
    max-width: 400px;
    height: auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto;
  }

  .block {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .profil {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 2px darkblue;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .name {
    font-size: 38px;
  }

  .para1 {
    width: 95%;
    text-align: center;
    height: auto;
    margin-bottom: 50px;
  }

  .btn {
    width: 280px;
    height: 44px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(26, 34, 54, 1);
  }

  .bg {
    max-width: 400px;
    height: 180px;
    background-image: url(./backgrounds/image_geometry_2.png);
    background-size: 100% 100%;
    margin-top: 45px;
  }

  .cards {
    min-width: 280px;
    max-width: 400px;
  }

  .cards .ttl h2 {
    font-size: 50px;
    font-weight: 300;
    font-family: 'Playfair Display', sans-serif;
  }

  .card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-pic {
    max-width: 100%;
    height: 200px;
  }

  .card-desc {
    min-width: 280px;
    width: 100%;
    height: 180px;
    background: #1a2236;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ttl-3 {
    width: max-content;
    height: auto;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 20px;
    list-style-type: none;
    color: white;
  }

  .techs {
    width: max-content;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    font-size: 12px;
  }

  .tech {
    width: max-content;
    height: auto;
    color: #1a2236;
    background: rgba(152, 222, 222, 1);
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-start: 5px;
    padding-block-end: 5px;
  }

  .tech:nth-child(1) { margin-left: 0; } /* remove left margin only on the first tech element */

  .see-btn {
    width: 178px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .abt {
    margin-bottom: 50px;
  }

  .cv-btn {
    width: 290px;
    margin: 0 auto 0 auto;
  }

  .cv-btn img {
    margin-left: 20px;
  }

  .competences {
    width: 290px;
    height: 290px;
    font-size: 18px;
    font-weight: 600;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
  }

  .cmp-ttl {
    margin-left: 50px;
    margin-bottom: 20px;
    color: white;
  }

  .competence {
    width: max-content;
    height: auto;
    margin-left: 50px;
    margin-bottom: 5px;
    color: white;
  }

  .competence span {
    margin-left: 3px;
    color: white;
  }

  .competence:last-child { margin-bottom: 0; }

  .cmps-1 {
    background-color: rgba(28, 82, 138, 1);
    background-image: url(./backgrounds/htag.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .cmps-2 {
    background: rgba(226, 80, 92, 1);
    background-image: url(./backgrounds/Group18.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .cmps-3 {
    background: rgba(254, 191, 82, 1);
    background-image: url(./backgrounds/ic_skills.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  #footer {
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .form {
    max-width: 400px;
    margin-top: 50px;
  }

  .inputs {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto 50px auto;
  }

  .mail-name,
  .msg {
    width: 280px;
    height: 52px;
    margin-bottom: 30px;
    text-indent: 16px;
    outline: none;
    box-shadow: 0 0 1px #1a2236;
    border: none;
    border-radius: 4px;
  }

  .msg {
    height: 110px;
    margin-bottom: 0;
    resize: none;
    padding-block-start: 15px;
  }

  .join {
    max-width: 400px;
    height: 118px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(26, 34, 54, 1);
    margin-top: 50px;
  }

  .join button { margin-bottom: 0; }

  .links {
    width: max-content;
    height: auto;
    display: flex;
    margin-left: 10px;
  }

  .link { /* default link style, also for the menu link on header */
    margin-left: 20px;
  }

  .link:nth-child(1) { margin-left: 0 !important; }
}

@media screen and (min-width: 401px) {
  /* Thi part is only for the modal */
  aside div h2 {
    font-size: 25px !important;
  }

  /* global element style */
  .ttl {
    font-size: 50px;
  }

  .txt {
    font-size: 20px;
    line-height: 33px;
  }

  #header {
    align-items: center;
    justify-content: center;
    height: 100px;
    max-width: none;
    width: 100%;
    box-shadow: 0 1px 1px blue;
  }

  .menu-btn { display: none !important; }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center !important;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
  }

  #footer {
    width: 100%;
    max-width: none;
    align-items: center;
  }

  #section2 { max-width: 550px; }

  .cards {
    max-width: 550px;
  }

  .ttl-3 {
    font-size: 30px;
    font-weight: 600;
  }

  .card {
    max-width: 100%;
  }

  .card-pic {
    height: 250px;
  }

  .card-desc {
    height: 200px;
  }

  .tech {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-block-start: 10px;
    padding-block-end: 10px;
  }

  .join {
    width: 100%;
    max-width: none;
  }
}

@media screen and (min-width: 700px) {
  /* Thi part is only for the modal */
  aside {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }

  aside div {
    width: calc(100% - 140px) !important;
  }

  aside div h2 {
    font-size: 35px !important;
    width: 93% !important;
  }

  aside div ul {
    width: 93% !important;
  }

  aside div ul li {
    padding: 10px 30px !important;
    font-size: 15px !important;
  }

  /* the code continue by here */
}

@media screen and (min-width: 820px) {
  /* Thi part is only for the modal */
  aside div h2 {
    font-size: 45px !important;
  }

  /* the code continue by here */
}

@media screen and (min-width: 900px) {
  /* Thi part is only for the modal */
  aside div h2 {
    font-size: 50px !important;
  }

  /* the code continue by here */
}

@media screen and (min-width: 1080px) {
  /* Thi part is only for the modal */
  aside div h2 {
    font-size: 60px !important;
  }
}
